@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.message {
  color: white;
  font-weight: bold;
  font-size: 24px;
  font-family: Arial, sans-serif;
  margin: 0;
}
